/* set css on main elements */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: #08789a;
}

h1, h2, h4 {
    color: rgb(9, 67, 124);
    font-style: italic;
}

footer {
    align-self: center;
    text-align: center;
    font-style: italic;
    background-color: rgb(154, 198, 241);
    border-radius: 10px;
    padding: 1px;
    margin: 20px;
}

p, ul, span {
    font-size: 14px;
    color: rgb(9, 67, 124);
}

a {
    text-decoration: none;
    color: rgb(9, 67, 124);
}

button {
    background-color: #08789a;
    border: 2px solid #f99d1b;
    border-radius: 8px;
    font-size: 16px;
    color: #f99d1b;
    padding: 12px 40px;
}
button:hover {
    background-color: #f99d1b;
    border: 2px solid #08789a;
    border-radius: 8px;
    font-size: 16px;
    color: #08789a;
    padding: 12px 40px;
}

/* set id elements */
#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    width: 80%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
#navbar a {
  float: right;
  display: block;
  color: #08789a;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover {
  background-color: #08789a;
  color: #f99d1b;
}
#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

/* set css on class elements */
.rounded-container {
    width: 80%;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 30px;
    margin: 0 auto;
    overflow: hidden;
}

/* div header */
.headerMainImg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 150px;
    height: 150px;
}

.headerMainImg img {
    width: 150px;
    height: 150px;
    display: block;
}

.headerImg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.headerImg img {
    width: 150px;
    height: 150px;
    display: block;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)
}

.headerRoundImg {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border: 3px solid #f99d1b;
    border-radius: 50%;
}

.headerItem {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 75%;
    word-wrap: break-word;
}
.sectionDivider {
    width: 75%;
    height: 1px;
    margin: 30 auto;
    background: #f99d1b;
}

/* css for contact elements */
.contactContainer {
    display: flex;
    white-space: nowrap;
    text-align: center;
    width: 80%;
    margin: 0 auto
}

.contactPairSide {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    width: 100%;
}

.contactImg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.contactImg img {
    width: 50px;
    height: 50px;
    display: block;
}

.contactItem {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.contactItem P, .contactItem a {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: rgb(9, 67, 124);
}

/* contact links */
.hoverUnderline {
    color: rgb(9, 67, 124);
    position: relative;
    display: inline-block;
}
.hoverUnderline::after,
.hoverUnderline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #f99d1b, #08789a);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.6s ease-out;
}
.hoverUnderline::before {
    top: -5px;
    transform-origin: left;
}
.hoverUnderline:hover::after,
.hoverUnderline:hover::before {
    transform: scalex(1);
}