/* set css on main elements */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: #08789a;
    display: flex;
    justify-content: center;
    margin: 20px;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    color: rgb(9, 67, 124);
}

footer {
    align-self: center;
    text-align: center;
    font-style: italic;
    background-color: rgb(154, 198, 241);
    border-radius: 10px;
    padding: 1px;
    margin: 20px;
}

p, span {
    font-size: 14px;
    color: rgb(9, 67, 124);
}
/*second span option for title dots */
.span-title {
    font-size: 30px;
    color: #f99d1b;
}

/*start - change open dots on sub ul to dash from open circle */
ul {
    font-size: 14px;
    color: rgb(9, 67, 124);
    margin:0;
}
ul.dashed {
    list-style-type: none;
}
ul.dashed li {
    text-indent: -15px;
}
ul.dashed li::before {
    content: "- ";
    text-indent: -15px;
}
/*finish - change open dots on sub ul */

a {
    text-decoration: none;
    color: rgb(9, 67, 124);
}

button {
    background-color: #08789a;
    border: 2px solid #f99d1b;
    border-radius: 8px;
    font-size: 16px;
    color: #f99d1b;
    padding: 12px 40px;
}
button:hover {
    background-color: #f99d1b;
    border: 2px solid #08789a;
    border-radius: 8px;
    font-size: 16px;
    color: #08789a;
    padding: 12px 40px;
}

/* set id elements */
#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    width: 80%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
#navbar a {
  float: right;
  display: block;
  color: #08789a;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover {
  background-color: #08789a;
  color: #f99d1b;
}
#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

/* set css on class elements */
.rounded-container {
    width: 80%;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 30px;
}
.section-divider {
    width: 80%;
    height: 3px;
    margin: 30 auto;
    background: #f99d1b;
}
.content-row {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    gap: 50px
}
.text-box {
    flex: 3;
    min-width: 200px;
}
.content-row-form {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    gap: 50px
}
.text-box-form {
    flex: 2;
    min-width: 200px;
}
.image-box {
    flex: 1;
    min-width: 150px;
    margin: auto;
}
.image-box img {
    max-width: 100%;
    height: 150px;
    display: block;
}
.image-rounded {
    flex: 1;
    min-width: 150px;
    margin: auto;
}
.image-rounded img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 3px solid #f99d1b;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: block;
}

/* css for contact elements */
.contact-image {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.contact-image img {
    width: 50px;
    height: 50px;
    display: block;
}
.contact-item {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.contact-item P, .contact-item a {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: rgb(9, 67, 124);
}
.form-box {
    flex: 4;
    min-width: 200px;
    display: block;
}
.form-box textarea {
    max-width: 100%;
    display: block;
}

/* hover links */
.hover-underline {
    color: rgb(9, 67, 124);
    position: relative;
    display: inline-block;
}
.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #f99d1b, #08789a);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-out;
}
.hover-underline::before {
    top: -5px;
    transform-origin: left;
}
.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scalex(1);
}